.paleta-icon {
    align-self: stretch;
    position: relative;
    border-radius: 20px;
    max-width: 100%;
    overflow: hidden;
    height: 128px;
    flex-shrink: 0;
    object-fit: cover;
}
.paleta-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-wrapper {
    width: 233px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.atras {
    width: 76px;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 150%;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    flex-shrink: 0;
}
.button-rental {
    width: 116px;
    border-radius: 30px;
    background-color: #edccaf;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    box-sizing: border-box;
}
.button-rental-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 42px;
}
.frame-parent {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 16px;
    text-align: center;
    font-size: 16px;
    color: #6e411a;
    font-family: 'Plus Jakarta Sans';
}

